@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

.continer{
    background-color: #000;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

ul,a{
    list-style: none;
    text-decoration: none;
}

.logo{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    max-width: 1100px;
    margin: auto;
}

nav ul{
    display: flex;
}

nav ul li a{
    margin: 0 15px;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover{
    color: #ffffff55;
    transition: .5s ease;
}

table{
    background:red;
    color: #fff;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;
}

table td,th{
    margin: 0 20px;
}

.contect{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.contect .img img{
    width: 170px;
}

.text{
    padding-top: 200px;
    margin: auto;
}

.text h1,p{
    color: #fff;
    line-height: 1.9;
    text-align: center;
}



.img{
    padding-top: 200px;
    margin: auto;
}

.icon img{
    width: 70px;
    transition: .3s ease all;
}

.icon img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.icon{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* media Responsev  */
@media screen and (max-width:430px) {

    .text h1,p{
        font-size: 13px;
    }

    .contect .img img{
        width: 70px;
        
    }

    .img{
        position: absolute;
        bottom: 40%;
        width: -100%;
    }

    .icon{
        display: flex;
        position: absolute;
        bottom: 40px;
    }

    .icon img{
        width: 60px;
        gap: 10px;
    }

    header nav{

        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem .5rem;
    }

  

    .continer .logo{
        margin-right: 70px;
    }
    
}