
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    -bg-Primary:- hsl(75, 94%, 57%);
    -bg-Neutral: - hsl(0, 0%, 100%)
    -  hsl(0, 0%, 20%)
    -  hsl(0, 0%, 12%)
    -  hsl(0, 0%, 8%)
}

body{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    background-color: hsl(0, 0%, 12%);
    height: 100vh;
}


.continer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    flex-direction: column;
    background-color: hsl(0, 0%, 20%);
    width: 25%;
    margin: auto;
    margin-top: 150px;
    border-radius: 15px;
}

.img{
    position: relative;
    top: -99px;
}

.img img{
    border-radius: 50%;
    width: 100px;
}


.text{
    text-align: center;
    position: relative;
    top: -99px;
}

h2{
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
}

.main-p{
    color: hsl(75, 94%, 57%);
    margin: 10px 0;
}

.p2{
    color: hsl(0, 0%, 80%);
    margin-top: 20px;
}


.btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    position: relative;
    top: -30px;
    width: 250px;
}

.btn > input{
    background-color: hsl(0, 0%, 30%);
    color: hsl(0, 0%, 100%);
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: all .3s ease;
}

.btn input:hover{
    transform: scale(1.2);
}




/* res des */


@media (max-width:375px) {

    .continer{
        width: 90%;
        margin-right: 100px;
    }

    .img{
        position: relative;
        top: -20px;
    }

    .img img{
        width: 80px;
    }

    .p2{
        margin-top: 30px;
    }

    .main-p{
        margin-top: 30px;
    }

    h2{
        margin-top: 90px;
    }

}